################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SchoolMangaement/FileContentIndex/ca3a4a2b-1fe8-48dd-8716-3dae6a4c0288.vsidx
/.vs/SchoolMangaement/FileContentIndex/ca3a4a2b-1fe8-48dd-8716-3dae6a4c0288.vsidx
